@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: 'Roboto';
}
body{
  background: #F9F9F9;
}
button,img{
  cursor: pointer;
}

html{
  font-size: 100%;
}

h1{
  font-size: 1.25rem;
  color: black;
}
h2{
  font-size: .88rem;
  font-weight: 700;
  color: black;
}
p{
  font-size: .88rem;
  color: #515151;
}
span{
  font-size: .88rem;
  font-weight: 700;
}

